* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --text-color: #48eda8;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
  --text-color: rgb(255, 165, 0);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: var(--primary-color);
}

.theme {
  width: 5%;
  height: 5%;
  cursor: pointer;
  margin: 10px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: var(--text-color);
}

p {
  font-size: 2rem;
  color: var(--text-color);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 7%;
  color: var(--secondary-color);
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.icons {
  padding: 10px 10px;
  font-size: 22px;
  transition: 0.5s;
  color: var(--secondary-color);
}

.icons:hover {
  cursor: pointer;
  transform: translateY(-8px);
}
